body {
   font-family: sans-serif;
   font-size: 14px;
}

#buttons-wrap {
   text-align: center;
   margin-bottom: 20px;
}

#buttons-wrap > button {
   background-color: #446CB3;
   color: white;
   padding: 10px 20px;
   font-size: 14px;
   border: none;
}

#map {
   margin: 0 auto;
   width: 900px;
   height: 600px;
   background-color: #CCC;
}
